.price {
  padding-top: 120px;

  &__title {
    position: relative;
    text-align: center;

    @include circle;
    &::before {
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 370px);
    grid-auto-rows: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 15px;
  }
  &__item {
    padding-left: 25px;
    position: relative;

    @include circle;
    &::before {
      width: 15px;
      height: 15px;
      left: 0;
      top: 11px;
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;
  }
  &__value {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
